@media only screen and (min-width: 480px) {
    .split-image-text {
        width: 100%;
        display: table;
        margin: 10px 0px;
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .split-image-text p {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
    .split-image-text img {
        display: table-cell;
        width: 90%;
        height: auto;
    }
}
@media only screen and (max-width: 479px) {
    .split-image-text {
        width: 100%;
        margin: 10px 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .split-image-text p {
        margin-top: 15px;
    }
    .split-image-text img {
        width: 100%;
        margin: 0px auto;
        display: block;
        height: auto;
    }
}
